<%= stylesheet_link_tag 'tweet_show', :media => "all" %>
 
<div class ="tweet">
 <p><span>name: </span><%= @user.name %></p>

 <if t.image >
      <%= image_tag @tweet.image_url,:size => '400×350' %> 
     <end> 
 <p>
  <span>年代:</span>
  <% @tweet.tags.each do |tag| %>
     <%= tag.name %>
  <% end %>
 </p>
 <p><span>国：</span><%= @tweet.country %></p>
 <p><span>内容：</span><%= @tweet.body %></p>
 <div class = "tweet-check">
      
      
       <p><span>◯: </span><%= @tweet.favorites.count %></p>
      
       <p><span>△: </span><%= @tweet.goods.count %></p>
      
       <p><span>✕: </span><%= @tweet.bads.count %></p>
      
   </div> 

 <% if user_signed_in? && @tweet.user_id == current_user.id %>
       <%= link_to "編集する", edit_tweet_path(@tweet.id) %>
       <%= link_to "削除する", tweet_path(@tweet.id), method: :delete %>
      <% end %>
</div>
<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>
      <br>
      <%= c.comment %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
      <%= f.text_area :comment%>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
   