<%= stylesheet_link_tag 'users_show', :media => "all" %>


<hr>
<p class="name"><%= @user.name %><span>さんのマイページ</span></p>


<hr>
<div class="my-tweets">
 <div class="user-tweets">
  <h1><%= @user.name %>さんの投稿</h1>
  <% @tweets.each do |tweet| %>
     <p class="image">
     <if t.image >
      <%= image_tag tweet.image_url,:size => '100×50' %> 
     <end>
     </p> 
     <p><span>国：</span><%= tweet.country %></p>
     <p>
       <span>年代:</span>
       <% tweet.tags.each do |tag| %>
         <%= tag.name %>
       <% end %>
     </p>   
     <p><span>ツイート内容: </span><%=link_to tweet.body, tweet_path(tweet.id) %></p>

    <% if user_signed_in? && tweet.user_id == current_user.id %>
     <p> <%= link_to "編集する", edit_tweet_path(tweet.id) %></p>
     <p> <%= link_to "削除する", tweet_path(tweet.id), method: :delete %></p>
    <% end %>
    <hr>
  <% end %>
 </div>

 <div class="favorite-tweets">
  <h1>チェックした投稿</h1>
  <% @favorite_tweets.each do |tweet| %>
   
    <p class="image">
    <if t.image >
      <%= image_tag tweet.image_url,:size => '100×50' %> 
    <end>
    </p>
    <p><span>国：</span><%= tweet.country %></p> 
    <p>
     <span>年代:</span>
     <% tweet.tags.each do |tag| %>
      <%= tag.name %>
     <% end %>
    </p>   
    <p><%=link_to tweet.body, tweet_path(tweet.id) %></p>
    <hr>
  <% end %>
  <% @good_tweets.each do |tweet| %>
   
    <p class="image">
    <if t.image >
      <%= image_tag tweet.image_url,:size => '100×50' %> 
    <end>
    </p>
    <p><span>国：</span><%= tweet.country %></p> 
    <p>
     <span>年代:</span>
     <% tweet.tags.each do |tag| %>
      <%= tag.name %>
     <% end %>
    </p>   
    <p><%=link_to tweet.body, tweet_path(tweet.id) %></p>
    <hr>
  <% end %>
  <% @bad_tweets.each do |tweet| %>
   
    <p class="image">
    <if t.image >
      <%= image_tag tweet.image_url,:size => '100×50' %> 
    <end>
    </p>
    <p><span>国：</span><%= tweet.country %></p> 
    <p>
     <span>年代:</span>
     <% tweet.tags.each do |tag| %>
      <%= tag.name %>
     <% end %>
    </p>   
    <p><%=link_to tweet.body, tweet_path(tweet.id) %></p>
    <hr>
  <% end %>

 </div> 
</div>